@use '../../../app/styles/variables';

.tabs {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: variables.$small) {
      flex-direction: row;
    }
  }
}

.tab {
  font-size: 24px;
  padding: 4px;
  box-sizing: border-box;

  &-link {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  &.active {
    .tab-link {
      color: lightgray;
    }
  }
}
